<!-- Used solely in layouts -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- need to initiate the moment connection is formed and page is ready to render -->

<title><%= locals.title %></title>