<html>
    <head>
        <title>Register profile</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Final Assignment</a></h1>
            <h2>Register</h2>
        </header>
        <section class="registerForm">
            <form action="/guestRegister" method="POST">
                <fieldset>
                    <% if (locals.message) { %>
                        <div class="registerFlash">
                            <%= message %>
                        </div>
                    <% } %>
                    <br>
                    <div class="username">
                        <label for="username">Username</label>
                        <br>
                        <input type="text" id="username" name="username" title="Must have letters" pattern="[a-zA-Z0-9]{1,}" required> 
                    </div>
                    <br>
                    <div class="password">
                        <label for="password">Password</label>
                        <br>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <br>
                    <div class="r_password">
                        <label for="r_password">Repeat password</label>
                        <br>
                        <input type="password" id="r_password" name="r_password" required>
                    </div>
                    <p><button type="submit">Create profile</button> or already have a profile? <a href="/login">Log in</a></p>
                </fieldset>
            </form>
        </section>
    </body>
</html>