<html>
    <head>
        <title>Log in —— Final Assignment</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1><a href="/">Final Assignment</a></h1>
            <h2>Log in</h2>
        </header>
        <section class="loginForm">
            <fieldset>
                <% if (messages.error) { %>
                    <div class="loginFlash">
                        <%= messages.error %>
                    </div>
                <% } %>
                <br>
                <form action="/login" method="POST">
                    <div>
                        <label for="username">Username/Student ID (without s)</label>
                        <br>
                        <input type="username" id="username" name="username" required>
                    </div>
                    <br>
                    <div>
                        <label for="password">Password</label>
                        <br>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <p><button type="submit">Log in</button> or <a href="/studentRegister">Create Student Profile</a> or <a href="/guestRegister">Create Guest Profile</a></p>
                </form>
            </fieldset>
        </section>
    </body>
</html>