<html>
    <body>
        <div class="courseCode">
            <%= course[0].code %>
        </div>
        <div class="courseName">
            <%= course[0].name %>
        </div>
        <% let count = 0; %>
        <% let total = 0; %> 
        <% course.forEach(info => { %>
            <% count++; %>
            <% total += parseFloat(info.GPA) %> 
        <% }) %>
        <% let temp = total / count %>
        <% let average = temp.toFixed(2) %> 
        <div>
            Registered Student Number: <%= count %>
        </div>
        <div>
            Average GPA of the course: <%= average %> 
        </div>
    </body>
</html>