<form action="/course" method="POST">
    <%- include('_form_fields') %>
    <br>
    <div class="createFormSubmit">
        <a href="/">Cancel</a>
        &emsp;
        <button type="submit">Create</button>
    </div>
</form>