<!-- The data will be sent to "course.js" when the user submits the form. -->
<form action="/course" method="POST">
    <!-- Include the content of another partial file "_form_fields.ejs" -->
    <%- include('_form_fields') %>
    <br>
    <div class="createFormSubmit">
        <a href="/">Cancel</a>
        &emsp;
        <button type="submit">Create</button>
    </div>
</form>